*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.hprof

# Ignore root-level test screenshots & dumps only
/*.png
/*.xml

# Keep source and assets
!/app/src/**
!/gradle/**
!/assets/**

# Keystores & credentials
keystore.properties
*.jks
*.keystore
